[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/escalate/hugo-split-theme.git
[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
